* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  color: #000000;
  font-family: 'Raleway';
}

a {
  border: none;
}

header {
  padding: 1em;
}

section#main {
  background: #000;
  padding: 5px 0;
}

@media (max-width: 800px) {
  #playlist {
    padding: 0;
  }
    #playlist li a {
      padding: 0 5px 5px;
    }
}

@media (min-width: 801px) {
  #playlist {
    padding: 2px;
  }
    #playlist li a {
      padding: 0 5px 5px 10px;
    }
}

audio {
  background-color: #242424;
  border: 2px solid #242424;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  margin: 0 auto;
  width: 250px;
}
  audio.chrome {
    background-color: #f1f3f4;
    border: 2px solid #f1f3f4;
  }
  audio.safari {
    width: 350px;
  }

#audio-controls {
  display: flex;
  justify-content: center;
  padding: 0;
}
  #audio-controls button {
    align-items: center;
    background-color: #242424;
    border: 1px solid #242424;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #f1f3f4;
    cursor: pointer;
    display: flex;
    font-size: 1.1em;
    height: 40px;
    justify-content: center;
    width: 127px;
  }
    #audio-controls button:hover {
      background-color: #323232;
    }
      #audio-controls button#backward {
        border-bottom-right-radius: 0;
        border-right: 1px solid #000000;
      }
        #audio-controls button#backward i {
          margin: 2px 7px 0 0;
        }
      #audio-controls button#forward {
        border-bottom-left-radius: 0;
        border-left: 1px solid #000000;
      }
        #audio-controls button#forward i {
          margin: 2px 0 0 7px;
        }
    #audio-controls.chrome button {
      background-color: #f1f3f4;
      border: 1px solid #f1f3f4;
      color: #242424;
    }
      #audio-controls.chrome button:hover {
        background-color: #ffffff;
      }
    #audio-controls.safari button {
      width: 177px;
    }

#playlist {
  background: #666;
  margin: 5px auto 22px;
  max-width: 500px;
}
  #playlist li {
    display: grid;
    list-style-type: none;
  }
    #playlist li.active a {
      background: #153950;
      color: #5db0e6;
      text-decoration: none;
    }
      #playlist li.active a div.translation {
        color: #85b2d0;
      }
      #playlist li a {
        background: #333;
        color: #eeeedd;
        display: block;
        position: relative;
        z-index: 2;
      }
      #playlist li a:hover {
        background-color: #555;
      }
      #playlist li a label.track-num {
        clear: left;
        cursor: pointer;
        float: left;
        font-size: 1.5em;
        margin-right: 12px;
        position: relative;
        top: 4px;
      }
      #playlist li a div.titles {
        float: left;
        padding-top: 4px;
        z-index: 1;
      }
        #playlist li a div.titles div.track-name {
          font-size: 1.1em;
        }
        #playlist li a div.titles div.track-artist-album {
          color: #cdcdbd;
          display: block;
          font-size: 0.8em;
        }
          #playlist li a div.titles div.track-artist-album span.highlight {
            color: #dfdf86;
            font-weight: bold;
          }
      #playlist li a div.track-duration {
        font-weight: 400;
        font-size: 1em;
        float: right;
        position: relative;
        right: 5px;
        top: 13px;
      }


footer {
  background-color: #555555;
  border-top: 2px solid #000000;
  bottom: 0;
  color: #f3f3f3;
  font-size: 0.75rem;
  height: 20px;
  padding: 5px 10px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
footer a {
  color: #f0be5b;
}

.loader {
  margin: 0 auto;
  width: 40px;
  padding: 10px;
  background: #2eadbb;

  aspect-ratio: 1;
  border-radius: 50%;
  --_m:
    conic-gradient(#0000,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  box-sizing: border-box;
  animation: load 1s linear infinite;
}

@keyframes load {
  to{transform: rotate(1turn)}
}
