/*
light blue: #02cbe3
dark blue:  #2b22b5
black:      #000000
*/

/* FOUNDATION */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background: #02cbe3;
  color: #000000;
}

a {
  border: none;
}

header {
  padding: 1em;
}

header,
section#main {
  border-bottom: 5px dashed #2b22b5;
}

section#main {
  background: #000;
  padding: 5px 0;
}

.downloadbutton {
  background: #15b953 url(../assets/images/bgButton.png);
  border: 1px solid #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 7px;
  overflow: hidden;
  text-align: center;
}

.downloadbutton:hover {
  background-position: 0px 160px;
}

.downloadbutton:active {
  background-position: 0px 80px;
}

.downloadbutton a {
  border-bottom: none;
  color: #fff;
  display: block;
  padding: 10px;
  text-shadow: 0 1px 0 #000;
}

.download {
  background: url(../assets/images/iconDownload.png) no-repeat;
  border: none;
  font-size: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
}
